#wrapper {
    display: flex;
    width: 700px;
    margin: 10rem auto;
    justify-content: space-evenly;
}

#semafor {
    width: 150px;
    height: 500px;
    border: 1px solid silver;
    border-radius: 35px;
}

.boje {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid silver;
    margin: 10px auto;
}

#semafor-2 {
    width: 150px;
    height: 500px;
    border: 1px solid silver;
    border-radius: 35px;
}

.boje-2 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid silver;
    margin: 10px auto;
}